.button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.lg {
  padding: 16px 48px;
}

.sm {
  padding: 4px 16px;
}

.outlined {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.filled {
  border: none;
  color: aliceblue;
  background: #db4444;
}

@media screen and (max-width: 1025px) {
  .button {
    padding: 10px 30px;
    font-weight: 400;
  }
}
